<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi this is shop!    
    </title>
</head>
<body>
    <p>Logout <a href="/users/logout">Logout</a></p>
    
</body>
</html>